services:
  db:
    image: postgres:15
    container_name: cms_backend-postgres
    expose:
      - "5432"
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - ../storage/backend/postgres_data:/var/lib/postgresql/data
    env_file:
      - .env
    restart: always
    networks:
      - versus_network

  redis:
    image: redis:alpine
    container_name: versus-redis
    restart: always
    command: >
      redis-server
      --appendonly yes
      --save 60 1000
      --maxmemory-policy allkeys-lru
    volumes:
      - ../storage/redis_data:/data
    networks:
      - versus_network

  app:
    build:
      context: .
    container_name: versus-app
    expose:
      - "8000"
    depends_on:
      - db
      - redis
    env_file:
      - .env
    volumes:
      - ../storage/backend/media_data:/app/media
      - ../storage/backend/static_data:/app/staticfiles
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    restart: always
    deploy:
      resources:
        limits:
          cpus: "0.5"
    networks:
      - versus_network

  tg_bot:
    build:
      context: .
    container_name: tg-bot-app
    depends_on:
      - db
      - app
    env_file:
      - .env
    environment:
      RUNNING_IN_DOCKER: 'true'
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    restart: always
    command: python telegram.py
    deploy:
      resources:
        limits:
          cpus: "0.5"
    networks:
      - versus_network

  celery:
    build:
      context: .
    command: celery -A mysite worker -l info --without-gossip --without-mingle --without-heartbeat
    depends_on:
      - redis
      - app
    env_file:
      - .env
    volumes:
      - ../storage/backend/media_data:/app/media
      - ../storage/backend/static_data:/app/staticfiles
    restart: always
    networks:
      - versus_network

  celery_beat:
    container_name: celery-beat
    build:
      context: .
    #celery -A bot_core beat --loglevel=info --scheduler=celery.beat:PersistentScheduler prod
    command: >
      celery -A mysite beat
      -l info
      --scheduler=celery.beat:PersistentScheduler
    env_file:
      - .env
    environment:
      TZ: Europe/Moscow
    volumes:
      - ../storage/celery/celery_beat_data:/celerybeat
    depends_on:
      - redis
      - app
    restart: unless-stopped
    networks:
      - versus_network

  nginx:
    image: nginx:latest
    container_name: cms_backend-nginx
    environment:
      VIRTUAL_HOST: ${LE_HOST}
      LETSENCRYPT_HOST: ${LE_HOST}
      LETSENCRYPT_EMAIL: 'lol@lol.com'
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
      - ../storage/backend/static_data:/staticfiles
      - ../storage/backend/media_data:/media
    depends_on:
      - app
    restart: always
    networks:
      - versus_network

volumes:
  postgres_data:
  redis_data:
  celery_beat_data:

networks:
  versus_network:
    external: true
